body
{
}

#container
{
    background-color: #FFE4CC;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    
    padding: 10px;
}


.ui-slider-handle
{
    font-family: monospace;
}

#add_container
{
    width: 80%;
    margin: auto;
}

#link_input
{
    width: 40%;
    margin-right: 7px;
}



.song_area
{
    background-color: #FFCFCC;
    
    margin: 3px;
    margin-bottom: 10px;
    
    padding: 3px;
    padding-left: 10px;
}



.song_audio
{
    display: none;
}

.close_button
{
    float: right;
}


.play_pause_button
{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.controls
{
    margin: 7px;
    
}

#song_list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}
